<section>
    <div class="dias_e_temas">
        <ul>
            <li> (10/03/2025) - (LCC2 - DIMAP): <a href="primeiroDia" id="primeiroDia" class="active">Benefícios da Lógica na Programação</a></li>
            <li> (11/03/2025) - (LCC2 - DIMAP): <a href="segundoDia" id="segundoDia" class="active">Introdução a Indução Recursão</a>
            </li>
            <li> (12/03/2025) - (LCC2 - DIMAP): <a href="terceiroDia" id="terceiroDia" class="active">Teoria dos números e Criptografia</a></li>
            <li> (13/03/2025) - (LCC2 - DIMAP): <a href="quartoDia" id="quartoDia" class="active">Interseção entre Conjuntos e Programação</a>
            </li>
            <li> (14/03/2025) - (LCC2 - DIMAP): <a href="quintoDia" id="quintoDia" class="inactive">Atividades finais</a></li>
        </ul>
        <script src="assets/js/script_dia.js"></script>
    </div>
</section>
