<section>
    <div class="dias_e_temas">
        <ul class="intro">
            <li class="inactive"> 23/02/2026 - <a href="primeiroDia" id="primeiroDia" class="active">Introdução à Complexidade Assintótica</a></li>
            <li class="inactive"> 24/02/2026 - <a href="segundoDia"  id="segundoDia"  class="active">Conceitos de Memória, Ordenação e Algoritmos</a></li>
            <li class="inactive"> 25/02/2026 - <a href="terceiroDia" id="terceiroDia" class="active">Introdução às Estruturas de Dados Básicas</a></li>
            <li class="inactive"> 26/02/2026 - <a href="quartoDia"   id="quartoDia"   class="active">Análise e uso de Estruturas de Dados Intermediárias e STL</a></li>
            <li class="inactive"> 27/02/2026 - <a href="quintoDia"   id="quintoDia"   class="active">Projeto Final</a></li>
        </ul>
        <script src="assets/js/script_dia.js"></script>
    </div>
</section>
