<section>
    <div class="dias_e_temas">
        <ul>
            <li> 23/02/2026 - <a href="primeiroDia" id="primeiroDia" class="active">Introdução à Complexidade Assintótica</a></li>
            <li> 24/02/2026 - <a href="segundoDia"  id="segundoDia"  class="inactive">Conceitos de Memória, Ordenação e Algoritmos</a></li>
            <li> 25/02/2026 - <a href="terceiroDia" id="terceiroDia" class="inactive">Introdução às Estruturas de Dados Básicas</a></li>
            <li> 26/02/2026 - <a href="quartoDia"   id="quartoDia"   class="inactive">Análise e uso de Estruturas de Dados Intermediárias e STL</a></li>
            <li> 27/02/2026 - <a href="quintoDia"   id="quintoDia"   class="inactive">Projeto Final</a></li>
        </ul>
        <script src="assets/js/script_dia.js"></script>
    </div>
</section>
